body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ipod{
  width:24%; 
  height:500px;
  margin:auto;
  margin-top: 3%;
  border: 1px solid black;
  background: #cccccc;
  border-radius: 30px;
}
.screen{
  height:47%;
  border: 1px solid black;
  margin:3%;
  border-radius: 8px;
  background-color: rgb(66, 62, 62);
}
.buttons{
  height:50%;
}

.buttons-container{
  width:80%;
  height:94%;
  margin:auto;
  /* border: 1px solid black; */
  /* background: rgb(128, 68, 68); */
  overflow: hidden;
  position: relative;
}

.inner-div{
  width: 95%;
  height:95%;
  background: #f0e7e7;
  margin: 5px auto;
  border-radius: 100%;
  overflow: hidden;
}

 
.inner-circle{
  width: 100px;
  height: 100px;
  margin-left: 28%;
  margin-top: 24%;
  background: #cccccc;
  position: absolute;

  border-radius: 100%;
}
img{
  width: 22px;
  position: absolute;
  color: gray;
}
.fwd{
  width: 22px;
  position: absolute;
  top: 108px;
  left: 200px;
  color: gray;
}
.rewind{
  width: 22px;
  position: absolute;
  color: gray;
  top: 108px;
  left: 30px;
}
.play-pause{
  width: 22px;
  position: absolute;
  color: gray;
  top: 190px;
  left: 120px;
}
.menu-btn{
  top: 30px;
  left: 108px;
  position: absolute;
  font-family: arial;
  font-weight: bold;
  color: gray;
}


